<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shopping Cart</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <h2 class="text-3xl font-bold mb-8">Your Shopping Cart</h2>
    <div class="flex flex-col md:flex-row md:space-x-8">
      <div class="md:w-2/3">
        {% for item in cart %}
        <div class="bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="flex items-center space-x-4">
            <img
              src="{{ item['img'] }}"
              alt="{{ item['name'] }}" class="w-20 rounded-lg" />
            <div>
              <a href="{{ url_for('product.product_info', productid=item['_id']) }}"><h3 class="text-lg font-medium">{{ item['name'] }}</h3></a>
              <p class="text-gray-700">₹{{ item['price'] }}</p>
            </div>
            <div class="ml-auto">
              <p>Quantity: {{ item['quantity'] }}</p>
              <a href="{{ url_for('cart.add_quantity', productid=item['_id']) }}">+</a>
              <a href="{{ url_for('cart.remove_quantity', productid=item['_id']) }}">-</a>
              <a href="{{ url_for('cart.remove_product', productid=item['_id']) }}">Remove</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="md:w-1/3">
        <div class="bg-white p-4 rounded-lg shadow-md sticky top-12">
          <h3 class="text-lg font-medium mb-4">Order Summary</h3>
          <div class="flex justify-between mb-2">
            <p>Subtotal:</p>
            <p>₹{{ total }}</p>
          </div>
          <div class="flex justify-between mb-2">
            <p>Shipping:</p>
            <p>₹0.00</p>
          </div>
          <hr class="<EUGPSCoordinates>my-4" />
          <div class="<EUGPSCoordinates>flex justify-between font-medium mb-4">
            <p>Total:</p>
            <p>₹{{ total }}</p>
          </div>
          {% if total != 0 %}
          <a href="{{ url_for('cart.checkout_cart') }}"><button type="button" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 w-full">
            Checkout
          </button></a>
          {% else %}
          <a href="#"><button type="button" class="bg-black text-white py-2 px-4 rounded-md hover:bg-black w-full">
            Checkout
          </button></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>

</html>